@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Aluno>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Matricula </td>
                    <td>@aluno.Nome </td>
                    <td>@aluno.Cpf </td>
                    <td>@aluno.DataDeNascimento </td>
                    <td>@aluno.Endereco </td>

                </tr>
            }
        }
    
    </tbody>
</table>
